{% extends "layout.html.twig" %}

{% block title %}Articles{% endblock %}

{% block content %}

{% for article in articles %}
<p>
    <h2><i class="fa fa-star" aria-hidden="true"></i> <a class="articleTitle" href="{{ path('article_single', { 'id': article.id }) }}">{{ article.title }}</a></h2>
    <p>{{ article.content }}</p>

    <h3>Comments</h3>
    {% for comment in comments %}
        <strong>{{ comment.author.username }}</strong> said : {{ comment.content }}<br>
    {% else %}
        No comments yet.
    {% endfor %}
</p>
{% endfor %}
{% endblock %}
