{% extends "layout_front.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- test -->
<div class="promo-block">
    <div class="container">
        <div class="row blue">
          {% for perso in persos %}
            <div class="col-sm-12 sm-margin-b-60 text-center">
                <div class="margin-b-30">

                    <h1 class="promo-block-title"><a class="articleTitle" href="{{ path('perso_single', { 'id': perso.id }) }}">{{ perso.nom }} {{ perso.prenom }}</a></h1>
                    <p class="promo-block-text">Developpeur / Integrateur Web</p>
                    <ul class="list-inline">
                        <li><a href="{{ perso.facebook }}" class="social-icons"><i class="icon-social-facebook"></i></a></li>
                        <li><a href="{{ path('perso_single', { 'id': perso.id }) }}" class="social-icons"><i class="icon-social-linkedin"></i></a></li>
                        <li><a href="{{ perso.github }}" class="social-icons"><i class="icon-social-github"></i></a></li>
                    </ul>
                </div>

            </div>
            <!-- <div class="col-sm-6">

                <div class="promo-block-img-wrap">
                    <img src="{{ perso.img }}" title="{{ perso.nom }}" class="col-md-8 col-md-offset-2 img-thumbnail" alt="{{ perso.nom }}">
                </div> -->


            </div>
        </div>
        {% endfor %}
        <!--// end row -->
    </div>
</div>
<!--  -->

<!--  -->
<h1 class="row col-md-12">Perso</h1>
{% for perso in persos %}
  <!--  -->
  <!--========== SLIDER ==========-->
  <div class="promo-block">
      <div class="container">
          <div class="row">
              <div class="col-sm-6">
                  <p>{{ perso.codepen }}</p>
              </div>
              <div class="col-sm-6">
                  <div class="promo-block-img-wrap">
                      <img class="promo-block-img img-responsive" src="{{ perso.img }}" title="{{ perso.nom }}" alt="{{ perso.nom }}" align="Avatar">
                  </div>
              </div>
          </div>
          <!--// end row -->
      </div>
  </div>
  <!--========== SLIDER ==========-->
  <!--  -->
{% endfor %}


          <p>HTML</p>
<div class="container">
  <div class="skills html">90%</div>
</div>

<p>CSS</p>
<div class="container">
  <div class="skills css">80%</div>
</div>

<p>JavaScript</p>
<div class="container">
  <div class="skills js">65%</div>
</div>

<p>PHP</p>
<div class="container">
  <div class="skills php">60%</div>
</div>
<!-- end test -->





  <div class="container">
    <h1>FORMATIONS / EXPÉRIENCES PROFESSIONNELLES</h1>
    <div class="row">
      <hr>
      {% for experience in experiences %}

      <article class="col-md-4 text-center mare">
          <h2><a class="articleTitle" href="{{ path('experience_single', { 'id': experience.id }) }}">{{ experience.poste }}</a></h2>
          <p><em>{{ experience.debut }}</em> / <em>{{ experience.fin }}</em></p>
          <div class="col-md-12">
            <img src="{{ experience.img }}" title="{{ experience.title }}" class="col-md-8 col-md-offset-2 img-thumbnail" alt="{{ experience.title }}">
          </div>
          <h3>{{ experience.content }}</h3>
      </article>

      {% endfor %}
    </div>
  </div>


<!--  -->
<div class="container">
<h1 class="text-center">Portfolio</h1>
{% for portfolio in portfolios %}
  <article class="row col-md-6 tuile text-center">
      <h2><a class="articleTitle" href="{{ path('portfolio_single', { 'id': portfolio.id }) }}">{{ portfolio.name }}</a></h2>
      <div class="col-md-12">
        <p>{{ portfolio.descriptif }}</p>
        <img src="{{ portfolio.img }}" title="{{ portfolio.name }}" class="col-md-8 col-md-offset-2 img-thumbnail" alt="{{ portfolio.name }}">
      </div>
  </article>
{% endfor %}
</div>
  <!--  -->
  <div class="container">
    <h1 class="text-center">Loisirs</h1>
    {% for loisir in loisirs %}
      <article class="row col-md-4">
          <h2><a class="articleTitle" href="{{ path('loisir_single', { 'id': loisir.id }) }}">{{ loisir.title }}</a></h2>

      </article>
  {% endfor %}
  </div>
  <!--  -->

  <!--  -->


    <!-- Contact -->
    {% for perso in persos %}
      <div id="contact">
          <div class="bg-color-sky-light">
              <div class="container content-lg">
                  <div class="row margin-b-40">
                      <div class="col-sm-12 text-center">
                         <h2>Contact</h2>
                          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua enim minim veniam exercitation</p>
                      </div>
                  </div>
                  <!--// end row -->

                  <div class="row">
                      <div class="col-md-3 col-xs-6 md-margin-b-30">
                          <h4>Region</h4>
                          <a href="#">Ile de France</a>
                      </div>
                      <div class="col-md-3 col-xs-6 md-margin-b-30">
                          <h4>Telephone</h4>
                          <a href="#">{{ perso.tel }}</a>

                      </div>
                      <div class="col-md-3 col-xs-6">
                          <h4>Email</h4>
                          <a href="mailto:#">{{perso.adresse}}</a>
                      </div>
                      <div class="col-md-3 col-xs-6">
                          <h4>Web</h4>
                          <a href="#">ovidiudobrigeanu.ma6tvacoder.org</a>
                      </div>
                  </div>
                  <!--// end row -->
              </div>
          </div>
      </div>

  {% endfor %}

    <!-- End Contact -->
{% endblock %}
